<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <link rel="icon" type="image/gif" href="/img/favicon.gif">
  <title>Ichoria BBS</title>
  <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
  <header>
    <img src="/img/logo.png" alt="Ichoria BBS">
    <div class="sep1"></div>
  </header>
  <main class="box">
    <p>
      Ichoria BBS es un enfoque simplista de tablón de discusión anónimo
      estilo nipón en español. En otras palabras, un foro anónimo. El servicio
      es parte del proyecto <a href="https://ichoria.xyz">Ichoria★xyz</a>.
      Si necesitas ayuda para usar el sitio, lee la
      <a href="/info">página de ayuda</a>. Cualquiera puede participar,
      así que estaremos esperando tus ideas.
    </p>
    <table class="boardlist">
      <tr>
        <th colspan="2" class="boardsth">Tablones</th>
      </tr>
      <tr>
        <td>
          <% for(let i = 0; i < Math.floor(boardCount / 2); i++) { %>
          <a href="/<%= boardNames[i] %>">
            <img src="/img/<%= boards[boardNames[i]].banner %>">
            <h3><%= boards[boardNames[i]].title %></h3>
          </a>
          <% } %>
        </td>
        <td>
          <% for(let i = Math.floor(boardCount / 2); i < boardCount; i++) { %>
          <a href="/<%= boardNames[i] %>">
            <img src="/img/<%= boards[boardNames[i]].banner %>">
            <h3><%= boards[boardNames[i]].title %></h3>
          </a>
          <% } %>
        </td>
      </tr>
    </table>

    <div class="container">
    <table class="postlist">
      <tr>
        <th colspan="3" class="poststh">Posts recientes</th>
      </tr>
      <% latestPosts.forEach(p => { %>
      <tr class="post-row">
        <td>[<%= new Date(p.timestamp).toISOString(); %>]</td>
        <td>
          <a href="/<%= p.board %>/threads/<%= !p.parent? p.timestamp : p.parent; %>#p<%= p.number + 1 %>">
            <%= p.board %>/<%= !p.parent? p.timestamp : p.parent; %>#<%= p.number + 1 %></a>:
        </td>
        <td><%- p.content.replace(/<[^>]*>/g, '').substring(0, 100) + (p.content.length > 100 ? '...' : '') %></td>
      </tr>
      <% }); %>
    </table>
    </div>

    <div class="container">
    <table class="blotter">
      <thead>
        <tr>
          <th colspan="2" class="blotterth">Noticias</th>
        </tr>
      </thead>
      <tbody>
      <% blotterPosts.forEach(post => { %>
        <tr class="blotterpost">
          <td>
            [<%= new Date(post.timestamp).toISOString(); %>]
          </td>
          <td>
            <%- post.content %>
            <% if (isLoggedIn) { %>[<a href="/admin/blotter/delete?id=<%= post.timestamp %>">del</a>]<% } %>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>

    <% if (isLoggedIn) { %>
    <form method="post" action="/admin/blotter/new">
      <small>Posteando como <b style="color: #c00;"><%= username %></b></small><br>
      <input type="hidden" name="username" value="<%= username %>">
      <textarea name="content"
        placeholder="Añadir noticia al blotter (HTML)..."
        cols="40" rows="4"></textarea>
      <br>
      <input type="submit" value="Postear noticia">
    </form>
    <% } %>

    <table class="afflist">
      <tr>
        <th class="affth" colspan="2">Afiliados</th>
      </tr>
      <tr>
        <td class="afflinks">
          <a href="https://vampiros.xyz" target="_blank">
            <img src="https://vampiros.xyz/files/vampiros-banner.png">
          </a>
        </td>
        <td class="affdesc">
          Foro de texto anónimo con temática vampiresca.
        </td>
      </tr>
      <tr>
        <td class="afflinks">
          <a href="https://domingochan.org/" target="_blank">
            <img src="/img/domingob.gif">
          </a>
        </td>
        <td class="affdesc">
          Foro de tipo tablón de imágenes que solo abre los domingos.
        </td>
      </tr>
      <tr>
        <td class="aff" colspan="2">
          El proyecto Ichoria busca afiliados. Lee
          <a href="/info#afiliados">esta página</a> para más 
          información sobre cómo afiliar tu sitio web.
        </td>
      </tr>
    </table>
  </main>
  <footer><% if (isLoggedIn) { %><a href="/admin/logout"><b>logout</b></a><br><% } %>
    - rhizomebbs <%= VERSION %> -
  </footer>
</body>
</html>
