<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="pragma" content="no-cache">
  <link rel="icon" type="image/gif" href="/img/favicon.gif">
  <title>Lista de hilos de <%= board.title %>@Ichoria BBS</title>
  <% for (const [title, style] of Object.entries(styles)) { %>
    <link rel="<%= title === Object.keys(styles)[0] ? 'stylesheet' : 'alternate stylesheet'; %>"
      href="/css/<%= style %>" title="<%= title %>" media="screen"><% } %>
</head>
<body <% if (board.aa || board.oekaki) { %>class="aa"<% } %>>
  <header>
    <nav>
      <a href="https://ichoria.org" target="_blank">★</a> 
      <a href="/">Portada</a> 
      <a href="/info">Ayuda</a>
      <a href="/search">Buscar</a> |
      <% boards.forEach(board => { %>
      <a href="/<%= board %>"><%= board %></a>
      <% }); %>
    </nav>
  </header>
  <main>
    <article class="box">
      <h1><%= board.title %>@Ichoria BBS</h1>
      <h4>
        <a href="/<%= boardName %>#postform">Abrir nuevo hilo</a> |
        <a href="/<%= boardName %>">Volver</a>
      </h4>
      <hr>
      <h4>Búsqueda global</h4>
      <form action="/search" method="get">
        <input name="q" size="40" type="text" placeholder="Buscar en el BBS">
        <input type="submit" value="Buscar">
      </form>
      <br>
      <h4>Filtro simple</h4>
      <input id="searchbar" size="40" type="text" placeholder="Filtrar por título...">
      <br><br>
      <div style="overflow-x: auto;" id="container">
      <table class="threadlist">
        <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Fecha de publicación</th>
          <th>Última respuesta</th>
          <th>Respuestas</th>
          <th>¿Cerrado?</th>
          <th><span title="¿IDs de usuario activadas?">uIDs</span></th>
        </tr>
        </thead>
        <% threads.forEach((thread, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
            <a href="/<%= boardName %>/threads/<%= thread.timestamp %>"><b>
            <%= thread.title %>
            </b></a>
          </td>
          <td><span class="date"><%= new Date(thread.timestamp)
            .toLocaleString('es', { timeZone: 'UTC' }); %> UTC</span></td>
            <td><span class="date"><%= new Date(thread.lastReply)
              .toLocaleString('es', { timeZone: 'UTC' }); %> UTC</span></td>
          <td><%= thread.replyCount + 1 %></td>
          <td><%= thread.closed? 'Sí' : 'No'; %></td>
          <td><%= thread.enableIds? 'Sí' : 'No'; %></td>
        </tr>
        <% }); %>
      </table>
      </div>
    </article>
  </main>
  <footer>
    <hr>
    <a href="/rss" target="_blank" style="float: left;">
      <img src="/img/rss-icon.png" alt="RSS">
    </a>
    <% if (isLoggedIn) { %><a href="/admin/logout"><b>logout</b></a><br><% } -%>
    - rhizomebbs <%= VERSION %> -
  </footer>
  <script type="text/javascript" src="/js/styles.js"></script>
  <script type="text/javascript" src="/js/mobile.js"></script>
  <script type="text/javascript" src="/js/search.js" defer></script>
</body>
</html>
